@media (max-width: 1000px) {

    h1 {
        font-size: 40px;
        line-height: 40px;
    }

    /* Header */

    .navbar-top {
        font-size: 10px;
        padding: 0 20px;
    }
    .navbar {
        padding: 0 30px;
    }

    .header-menu {
        gap: 30px;
    }

    .menu-label {
        display: flex;
        font-size: 25px;
    }

    .navbar {
        gap: 30px;
    }

    .navbar-list {
        display: none;
    }
    
    #menu-toggle:checked ~ .nav {
        display: flex;
        transform: translate(0%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }


    /* SECTION PRODUCT */

    #products {
        padding: 50px 0;
    }

    .products-container {
        row-gap: 60px;
        column-gap: 15px;
    }

    .product {
        width: 30%;
    }

    .product-buttons {
        visibility: visible;
        transition: all 400ms ease-out;
    }

    /* CATEGORY */

    #categories {
        gap: 15px;
        padding: 50px 30px;
    }

    /* CLIENTS */

    .client-info {
        width: 30%;
    }

    /* FOOTER */

    .footer-top {
        padding: 30px;
    }

    .footer-logo {
        width: 100px;
    }

    .footer-title {
        font-size: 15px;
    }

    .menu-list,
    .contact-icons
    {
        font-size: 14px;
    }

    .social-icons i {
        font-size: 20px;
    }

}




/* MOBILE */

@media (max-width: 576px) {

 /* BENEFICIOS */

    #benefits {
        flex-direction: column;
        padding: 40px 0;
        gap: 60px;
    }

    .benefit {
        width: 100%;
    }

    /* PRODUCTOS */

    #products {
        width: 100%;
    }

    .products-container {
        row-gap: 20px;
        width: 100%;
    }

    .product {
        width: 45%;
    }

    .product-img {
        height: 250px;
    }

    .product-buttons {
        gap: 5px;
    }

    .product-buttons .button{
        font-size: 10px;
    }

    /* CATEGORY */

    #categories {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 0;
    }

    .category {
        width: 100%;
    }

    /* LOCAL */

    
    .local-info {
        left: 0;
        bottom: 70px;
        width: 100%;
    }

    .local-text {
        font-size: 10px;
    }

    .title-text {
        text-align: center;
    }

    .clients-imgs {
        flex-direction: column;
        padding: 0 25px;
    }

    .client-info {
        width: 100%;
    }

    .footer-top {
        flex-direction: column;
        gap: 40px;
    }

}

