
:root {
    --red: #E71D36;
    --blue: #011627;
    --white: #FAFAFA;
    --gray: #dddddd;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--montserrat);
}

body {
    background-color: var(--white);
    position: relative;
}

/* HEADINGS */

h2 {
    font-size: 30px;
    font-weight: 600;
}

/* HEADER */
.navbar-top,
#header,
.navbar,
.navbar-list {
    display: flex;
}

/* MENU HAMBURGESA */

.nav {
    width: 300px;
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    z-index: 1001;
    overflow-y: auto;
    display: none;
}

.nav__link{
    color: var(--white);
    display: block;
    text-decoration: none;
    padding: 8px 0;
}

.nav__link--inside{
    text-align: left;
    padding-left: 20px;
}

.nav__link--inside:hover{
    transition: all .2s ease;
    font-weight: 700;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 50px 0;
    justify-content: start;
    flex-direction: column;
    background-color: var(--blue);
    gap: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.list__item{
    color: var(--white);
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
    color: var(--gray);
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid var(--red);
    list-style: none;
    transition: height .4s;
    height: 0;
}

/* MENU ESCRITORIO */

.navbar-top {
    height: 40px;
    background-color: var(--blue);
    color: var(--white);
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

#header {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1000;
}

.navbar {
    background-color: var(--red);
    color: var(--white);
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 50px;
    z-index: 99;
}

.navbar-img {
    height: 50%;
}

.navbar-list {
    text-align: center;
    justify-content: center;
    gap: 18px;
    height: 100%;
}

.navbar-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
    position: relative;
}

.navbar-list-link {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-list-link i{
    text-align: center;
}

.navbar-list-link.active {
    font-weight: 700;
}

.cart-label {
    cursor: pointer;
    position: relative;
}

#cart-count{
    position: absolute;
    color: var(--white);
    background-color: var(--blue);
    top: 50%;
    margin-top: -15px;
    left: 10px;
    display: block;
    font-size: 10px;
    line-height: 15px;
    white-space: nowrap;
    height: 15px;
    min-width: 16px;
    border-radius: 2em;
    text-align: center;
    font-weight: 300;
}

/* Menu Desplegable */
.dropdown-menu {
    display: none;
}

.navbar-list-item:hover .dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -15px;
    top: 100%;
    background-color: var(--red);
}

.dropdown-menu ul{
    display: block;
    margin: 10px;
}

.dropdown-menu ul li{
    width: 150px;
    padding: 10px;
    position: relative;
    text-align: start;
}

.dropdown-menu ul li a{
    color: var(--white);
    text-transform: uppercase;
}

.dropdown-menu ul li a:hover{
    transition: all .2s ease;
    font-weight: 700;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}

.dropdown-menu-1,
.dropdown-menu-2{
    display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1,
.dropdown-menu ul li:hover .dropdown-menu-2 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--red);
    text-align: start;
    width: 200px;
}


/* Checkbox */
#cart-toggle,
#menu-toggle,
.menu-label{
    display: none;
}


/* HERO */
#hero {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
}

#hero .splide-hero,
#hero .splide__track,
#hero .splide__list,
#hero .splide__slide {
    height: 100%;
}

#hero .splide__pagination__page {
    background-color: var(--blue);
    margin-bottom: 10px;
}

#hero .is-active {
    background-color: var(--red);
}

.hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* BENEFICIOS */

#benefits {
    display: flex;
    justify-content: center;
    padding: 40px 25px;
    background-color: var(--blue);
    align-items: center;
    color: var(--white);
    gap: 150px;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 33%;
}

.benefit-icon {
    font-size: 30px;
}

.benefit-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.benefit-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
}

.benefit-description {
    font-size: 13px;
    font-weight: 300;
}

/* PRODUCTOS */

#products {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
    width: 100%;
}

.section-title {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 30px;
}

.title-line {
    background-color: var(--red);
    height: 2px;
    width: 80px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    justify-content: center;
    width: 100%;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 290px;
}

.product-img{
    height: 390px;
    width: 100%;
    position: relative;
}

.product-img .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.product-img-hover {
    display: none;
}

.product-buy {
    position: absolute;
    background-color: var(--white);
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    display: none;
}

.buy-head {
    display: flex;
    justify-content: space-between;
}

.buy-talles {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.buy-talles .talle {
    border: 1px solid var(--blue);
    border-radius: 50%;
    color: var(--blue);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-talles .selected {
    background-color: var(--blue);
    color: var(--white);
}

.buy-talles .talle:hover {
    transition: all .2s ease-in;
    background-color: var(--blue);
    color: var(--white);
}

.product-buy .button {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
}

.product-info {
    min-height: 180px;
    display: flex;
    flex-direction: column;
    padding: 15px 8px;
    justify-content: space-between;
}

.product-info-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product-name {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.product-price {
    font-weight: 800;
    font-size: 16px;
}

.product-pay {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--red);
    font-weight: 700;
    font-size: 12px;
}

.product-buttons {
    display: flex;
    width: 100%;
    gap: 20px;
    padding-top: 30px;
    visibility: hidden;
}

.button {
    background-color: transparent;
    padding: 8px 15px;
    border: 1px solid var(--blue);
    width: 50%;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--blue);
    position: relative;
    display: block;
    overflow: hidden;
}

.button-buy {
    background-color: var(--blue);
    color: white;
}

.buttom-view {
    background-color: var(--white);
}

.icon-buy,
.eye-icon {
    padding-right: 4px;
}

.button-view-products {
    width: 130px;
    cursor: pointer;
}

/* Section Category */

#categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 25px 50px;
    background-color: var(--white);
}

.category {
    width: 400px;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.category-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.category-title {
    color: var(--white);
    top: 50%;
    position: absolute;
    padding: 0 20px;
    line-height: 22px;
    color: var(--white);
    text-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.8);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px; 
}

.category::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: .4;
}

/* OFFERS */
#offers {
    width: 100%;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#offers .splide__slide,
#offers .splide__track,
#offers .splide
{
    padding: 1px 0 ;
    width: 100%;
    height: 100;
}

#offers .splide__arrow {
    background-color: var(--red);
    border-radius: 0;
    color: var(--white);
}
#offers .splide__arrow--next {
    right: -40px;
}

#offers .splide__arrow--prev{
    left: -40px;
}

#offers .splide__arrow svg{
    fill: var(--white) !important;
}

#offers .products-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 10px;
    gap: 0;
    margin: 0;
}

#offers .product {
    width: 100%;
    height: 100%;
}

#offers .product-offer {
    display: flex;
    align-items: center;
    gap: 7px;
}

#offers .offer {
    text-decoration: line-through;
    font-size: 12px;
    color: #8a8a8a;
}

#offers .product-sale {
    position: absolute;
    background-color: var(--red);
    color: var(--white);
    padding: 0 10px;
    top: 20px;
    right: 0;
    line-height: 22px;
    text-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.8);
    font-weight: 700;
    font-size: 10px; 
    text-transform: uppercase;
}

/* LOCAL */

#local-location {
    width: 100%;
    height: 700px;
    position: relative;
}

#local-location .splide__slide,
#local-location .splide__list,
#local-location .splide__track,
#local-location .splide
{
    height: 100%;
}

#local-location .splide__arrow {
    background-color: transparent;
}

#local-location .splide__arrow svg{
    fill: var(--blue);
}

#local-location .splide__pagination__page {
    background-color: var(--blue);
    margin-bottom: 10px;
}

#local-location .is-active {
    background-color: var(--red);
}

.local-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.local-info {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: var(--white);
    gap: 20px;
    padding: 20px;
}

.local-title {
    color: var(--red);
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;

}

.local-text{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 14px;
    font-weight: 300;
}

.local-ubication {
    display: flex;
    flex-direction: column;
}

.local-ubication .direction,
.day {
    font-weight: 700;
    text-transform: uppercase;
}

.local-ubication .city {
    text-transform: capitalize;
}

.local-time {
    display: flex;
    gap: 15px;
}

.day,
.hour {
    display: flex;
    flex-direction: column;
}

.day {
    text-transform: uppercase;
}

/* CLIENTES */

#clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-transform: uppercase;
    padding: 50px 0;
}

#clients .eslogan {
    font-size: 30px;
}

#clients .section-title .title-text {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

.client-thanks {
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
}

.clients-imgs {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.client-info {
    position: relative;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 550px;
}

.client-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.client-hover {
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 700;
    color: var(--white);
    text-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.4);
    display: none;
}

.client-name {
    font-size: 22px;
}

.client-description {
    font-size: 12px;
    font-weight: 400;
}

.client-info::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(1,22,39,1) 0%, rgba(0,0,0,0) 100%);
    opacity: .9;
    display: none;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer-top {
    background: var(--red);
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 50px 70px;
}

.footer-logo {
    width: 140px;
}

.footer-title {
    padding-bottom: 15px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
}



.footer-menu,
.footer-contact,
.footer-social {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.menu-list,
.contact-icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-list a {
    color: var(--white);
    font-weight: 200;
    text-transform: capitalize;
}

.mail-text,
.whp-text,
.location-text {
    font-weight: 200;
}

.location-text {
    text-transform: capitalize;
}

.social-icons {
    display: flex;
    gap: 5px;
}

.social-icons i {
    color: var(--white);
    font-size: 30px;
}

/* FOOTER BOTTOM */

.footer-bottom {
    width: 100%;
    background: var(--blue);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-text {
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
}